{% extends 'base.html.twig' %}

{% block title %}Please check in!{% endblock %}

{% block body %}


Please check in!


<div>
Try hard our quizz ! 
</div>

<div>
You have to collect wins and get the highest scrore.
Good luck
</div>

go next <a href="/categorie"> Step</a>
{% endblock %}
